/* ----------- General Styling ----------- */

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background: black;
  }

.game-btn {
    width: 250px;
    height: auto;
    padding: 10px;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: white;
}


/* ----------- Tournament Display ----------- */

#tournament {
    display: block;
}


/* Tournament Instructions */

.tournament-instructions {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

/* Bracket */

div {
    color: white;
}

#bracket img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

#bracket {
    width: 90%;
    height: 100vh;
    margin: auto;
}

.round {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.r1-game {
    width: 21%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.r2-game {
    width: 48%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

.r3-game {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.r1-team {
    border-radius: 50px;
    width: 44%;
    height: 100%;
    float: left;
}

.r2-team {
    border-radius: 50px;
    width: 47%;
    height: 100%;
    float: left;
}

.r3-team {
    border-radius: 50px;
    width: 47%;
    height: 100%;
    float: left;
}

#champ {
    width: 25%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50px;
}


/* ----------- Versus Display ----------- */

#versus {
    display: none;
}

#vs-container {
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.vs-dancer {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: space-evenly;
}

/* Versus Instructions */

#vs-instructions {
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
}

#stats-container {
    margin: auto;
    padding-left: 10px;
    width: 40%;
    height: 400px;
}


/* ----------- Disco Styles ----------- */

/* Div Gradients  */

.blue {
    background: radial-gradient(#b4f8fa, #1170FF);
}

.pink {
    background: radial-gradient(#f4cef5, #fa34cf);
}

.orange {
    background: radial-gradient(#fffce6, #FFBC11);
}

.red {
    background: radial-gradient(#ffedeb, #fc4c14);
}

.green {
    background: radial-gradient(#f0ffde, #52fc14);
}

.purple {
    background: radial-gradient(#ecdbff, #c342ff);
}

.rainbow {
    background: radial-gradient(#e3fffd, #2effcb);
}


/* ----------- Animations ----------- */

div[animation-id="animation-1"] {
    animation-name: dance;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

div[animation-id="animation-2"]{
    animation-name: dance;
    animation-duration: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}